<div class="flash text-center">
  <% if flash[:notice] %>
    <p class="notice bg-green white"><%= notice %></p>
  <% end %>
  <% if flash[:alert] %>
    <p class="alert bg-red white"><%= alert %></p>
  <% end %>
</div>
